@import "../variables.modules";




main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1;
  font-size: 1.5rem;
  position: relative;
  z-index: 1;
  width: 90vw;
  margin: 1rem auto;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
    }

  .figma {
    width: 800px;
    margin: auto;
    display: flex;
    align-items: center;
  }


  @media only screen and (min-width: 1025px) {
    flex-direction: row;
    justify-content: center;
  }

  h1 {
    font-size: 2.5rem;
    text-align: center;
    
    @media screen and (min-width: 1040px) {
      font-size: 3.5rem;
      margin-left: 2%;
    }
}

  h2 {
    font-size: 1.5rem;
    text-align: center;
    @media screen and (min-width: 1040px) {
      font-size: 1.5rem;
      text-align: center;
      margin-left: 2%;
      margin-bottom: 2%;
    }
  }

  ul {
    padding: .8rem;
  }

  li {
    font-size: 1.5rem;
    line-height: 1.8;
    @media screen and (max-width: 540px) {
      margin-bottom: 3vh;
    }
  }

  .firstName {
    background: -webkit-linear-gradient(135deg, $purple, $pink);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .emoji {
    margin-right: .5rem;
    font-size: 1.5rem;
    @media only screen and (min-width: 940px) {
      margin-right: 1rem;
    }
  }
}

.avatar {
  border-radius: 30%;
  padding: .5em;
  opacity: 0.9;
  transition: opacity 700ms;
  margin-bottom: 1rem;


  @media screen and (min-width: 990px) {
    width: 30%;
    height: 30%;
    margin: auto;
    margin-bottom: 5%;
  }

  @media screen and (max-width: 740px) {
    width: 60%;
    height: 60%;
    margin-bottom: none;
  }
  /* For Mobile */
  @media screen and (max-width: 540px) {
    width: 60%;
    height: 60%;
    margin-bottom: none;
    margin-left: 20%;
  }
  /* For Tablets */
  @media screen and (min-width: 540px) and (max-width: 780px) {
    width: 40%;
    height: 40%;
    margin-left: 30%;
    margin-bottom: none;
  }
}

.mainImg {
  border-radius: 30%;
  width: 100%;
  height: 100%;
}

.mainText{
  letter-spacing: 1px;
  margin: auto;
}

.socials {
  display: flex;
  justify-content: space-evenly;
  font-size: 4.5rem;
  padding: 1rem 0;
  

  a {
    color: $dark;
    transition: color 700ms;
  }

  a:hover {
    color: grey;
  }

}
  
  .about {
    .terminal {
      width: 80%;
      margin: auto;
      border-radius: .5rem;
      margin-top: 5%;
      animation: fadeInAnimation ease 3s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    
      @keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
         }
        }
    }
    
    .topRow {
      background-color: #505050;
      color: white;
      padding: 0.5rem;
      border-radius: 0.5rem 0.5rem 0 0;
      font-size: 1rem;
    
      @media only screen and (min-width: 940px) {
        font-size: 1.3rem;
      }
    
      i {
        padding-left: 0.5rem;
      }
    }
    
    .red {
      color: #FF6057;
    }
    
    .amber {
      color: #FFBD2E;
    }
    
    .green {
      color: #27C93F;
    }
    
    .window {
      padding: 1rem 2rem;
      border-radius: 0 0 .5rem .5rem;
      background-color: rgba(10, 4, 17, 0.596);
      color: $dark;
      @media only screen and (min-width: 940px) {
        padding: 2rem 3rem;
      }
      p, li {
        font-size: 6vw;
        font-family: 'Courier New', Courier, monospace;
        margin: 1.3rem 0;
    
        @media only screen and (min-width: 940px) {
          font-size: 1.8rem;
          margin: 2rem 0;
        }
        @media only screen and (max-width: 768px) {
          font-size: 1.3rem;
          margin: 1rem 0;
        }
        @media only screen and (max-width: 425px) {
          font-size: 1rem;
        }
      }
    }
    
    
    .emoji {
      margin-right: 1rem;
    }
    
    .gif{
    
        /* For Mobile */
        @media screen and (max-width: 768px) {
        /* no need :D */
        width: 0%;
        }
    
        @media screen and (min-width: 990px) {
          margin: auto;
          margin-top: 5%;
          width: 70%;
          border-color: #505050;
          border-width: .2rem;
          border-style: solid;
        }
      
      
      
      animation: fadeInAnimation ease 3s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    
    
    
      @keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
         }
        }
    }
    
    
  }